@model MultiTenant.Models.RetailerViewModel
@using MultiTenant.Helpers
@using MultiTenant.Common.Types
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is the CORE retailer.</h2>
<div id="retailerGrid"></div>

<div class="panel retailerPanel">
    <div class="panelHeader"><strong>Retailer</strong></div>
    <div>
        <span class="retailerLabel">Id:</span>
        <span>@Html.TextBoxFor(model => model.Id)</span>
    </div>
    <div>
        <span class="retailerLabel">Name:</span>
        <span>@Html.TextBoxFor(model => model.Name)</span>
    </div>
    <div>
        <span class="retailerLabel">Number:</span>
        <span>@Html.TextBoxFor(model => model.Number)</span>
    </div>
</div>


 @if (AccessHelper.HasAccess(Model.CurrentTenant, AccessTypes.Premium))
 {
     <div class="panel retailerPanel">
         <div class="panelHeader"><strong>Sales</strong></div>
         <div>
             <span class="retailerLabel">Calendar Sales:</span>
             <span>@Html.TextBoxFor(model => model.CalendarSales)</span>
         </div>
         <div>
             <span class="retailerLabel">Fiscal Sales:</span>
             <span>@Html.TextBoxFor(model => model.FiscalSales)</span>
         </div>
     </div>
 }

@Html.PartialHelper(Model.CurrentTenant, @ContentTypes.RetailerPartial, Model, "General")

<script type="text/javascript">
    $("#retailerGrid").kendoGrid({
        autoBind: true,
        change: function () {
        },
        filterable: false,
        groupable: false,
        height: "300px",
        pageable: true,
        resizeable: true,
        selectable: "single, row",
        sortable: {
            mode: "single",
            allowUnsort: false
        },
        dataSource: {
            pageSize: 30,
            type: "json",
            transport: {
                read: function (options) {
                    $.ajax({
                        url: "@Url.Action("GetRetailers", "api/RetailerApi", new { Area = ""})",
                        success: function (result) {
                            options.success(result);
                        },
                        type: "GET"
                    });
                }
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Name: { type: "string" },
                        Number: { type: "number" },
                    }
                }
            }
        },
        columns: [
            {
                field: "Id",
                title: "Retailer Id",
                width: "70px"
            },
            {
                field: "Name",
                title: "Name",
                width: "180px"
            }, {
                field: "Number",
                title: "Number",
                width: "90px"
            }]
    });
</script>
