@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout.bundle.css")
    @Scripts.Render("~/Scripts/layout.bundle.javascript")
</head>
<body>
    <header>
    </header>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
