@using System.Web.Optimization
@using MultiTenant.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout.bundle.css")
    @Scripts.Render("~/Scripts/layout.bundle.javascript")
</head>
<body>
    <header>
    </header>
    
    <nav>
        @Html.SiteMenu()
    </nav>

    @RenderBody()
    
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">

        (function() {
            $('#menu').kendoMenu({
            });
        })()    

    </script>

</body>
</html>
