@using System.Web.Optimization
@using MultiTenant.Helpers
@model MultiTenant.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout.bundle.css")
    @Scripts.Render("~/Scripts/layout.bundle.javascript")
</head>
<body>
    <header>
    </header>
    
    <div id="tenantsParent">
        <div id="tenants"></div>
    </div>

    <nav>
        @Html.SiteMenu(@Model.Host)
    </nav>

    @RenderBody()
    
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">

        (function() {
            $('#menu').kendoMenu({
            });
            $('#tenants').kendoDropDownList({
                change: function() {
                    $.ajax({
                        success: function() {
                            location.reload();
                        },
                        type: 'PUT',
                        url: 'api/TenantApi?id=' + this.value().toString()
                    });
                },
                dataTextField: "Name",
                dataValueField: "Id",
                dataSource: {
                    transport: {
                        read: {
                            type: 'GET',
                            url: 'api/TenantApi/GetAll'
                        }
                    }
                }
            });
            $.ajax({
                success: function(result) {
                    $('#tenants').data('kendoDropDownList').value(result.Id);
                },
                type: 'GET',
                url: 'api/TenantApi/Get'
            });
        })()    

    </script>

</body>
</html>
